/* CSS Document */

red{
	color: red;
	font-weight: bold;
}

.popover {
	background-color: tomato;
}

.popover .arrow::after {border-bottom-color: tomato; }
.popover-content {background-color: tomato;}

.gj-picker-bootstrap table tr td.other-month div{
	color: green !important;
}
.gj-picker-bootstrap table tr td.disabled div {
    color: #FF0004 !important;
}

.gj-picker-bootstrap table tr td.gj-cursor-pointer div {
    color: green;
}